body {
    background-color: #fff;
    color:#484848;
    font-size: 1.5em;
    max-width: 1200px;
    font-family: 'Source Sans Pro', sans-serif;
}



.cotrainer {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.page{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.hi {
    font-size: 2.5rem;
    padding-top: 11rem;

}

.selfIntroduction {
    max-width: 1000px;
    height: 867px;
}

.write{
    max-width: 700px;
    float: left;
    font-size: 2.5rem;
    padding-top: 1rem;
}

.introIcon {
    float: right;
    padding-top: 7.5rem;
}

.contactMe {
    padding-top: 3rem;
    max-width: 1000px;
    float: left;
    font-weight: bold;
}

.background{
    max-width: 1000px;
    height: 790px;
    margin-bottom: 5rem;
}

.nameChapter{
    float: left;
    color:#620aaa;
    width: 200px;
    font-size: 1.4rem;
    font-weight: bold;

}

.mail{
    
}

.explication {
    max-width: 700px;
    font-size: 1.4rem;
    float: right;
}


