body {
    background-color: #fff;
    color:#484848;
    font-size: 1.5em;
    font-family: 'Source Sans Pro', sans-serif;
}


.nameSkills{
    font-size: 1.5rem;
}

.skill{
    padding: 1.5rem;
}

.Projects{
    padding-top: 2.3rem;
}

.cotrainer {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.page{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.hi {
    font-size: 2.5rem;
    padding-top: 11rem;

}

.selfIntroduction {
    max-width: 1000px;
    height: 867px;
}

.write{
    max-width: 700px;
    float: left;
    font-size: 2.5rem;
    padding-top: 1rem;
}

.introIcon {
    float: right;
    padding-top: 7.5rem;
}

.contactMe {
    padding-top: 3rem;
    max-width: 1000px;
    float: left;
    font-weight: bold;
}

.background{
    max-width: 1000px;
    height: 790px;
    margin-bottom: 5rem;
}

.skillsExplication{  
   font-size: 10rem;
}

.nameChapter{
    float: left;
    color:#620aaa;
    width: 300px;
    font-size: 1.4rem;
    font-weight: bold;
    text-align: left;
    height: 200px;

}

.fa-python:before,  .fa-trello:before, .fa-jira:before, .fa-git-alt:before, .fa-java:before, .fa-unity:before {
    font-size: 30px;
}

.fa-unity:before{
    padding-left: 9.7rem;
}

.fa-python:before{
    padding-left: 3rem;
}

.fa-trello:before{
    padding-left: 2.8rem;
}

.fa-jira:before{
    padding-left: 7.8rem;
}

.fa-git-alt:before{
    padding-left: 9.1rem;
}


.cshirp{
    vertical-align:sub;
    padding-left: 3rem;
    padding-right: 3rem;
    fill: #484848;
}



.explication {
    max-width: 700px;
    font-size: 1.4rem;
    float: right;
}

.rightBanerProject, .rightDescription , .rightProject{
    float: right;
}

.leftDescription{
    padding-left: 50px;
}

.rightDescription{
    padding-right: 50px;
}


.leftDescription,  .leftBanerProject, .leftProject{
    float: left;
}

.titleProject{
    font-style: italic;
}


.leftDescription, .rightDescription{
    width: 200px;
}

.centerRightDescription{
    width: 700px;
    float: right;
}

.centerLeftDescription{
    width: 700px;
    float: right;
}

.leftProject, .rightProject{
    width: 700px;
    height: 500px;
}

.leftProject{
    padding-left: 300px;
}


